.cardHeader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.iconAdd{
    font-size: 50px;
}

.iconAdd:hover{
    color: #0FB8A6;
}

.cardChallegnge{
    width: 80%;
    margin-left: 10%;
    display: flex !important;
    display: -webkit-flex;
    /* -webkit-justify-content: center; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}