h1{
    color: #D75022;
}

label{
    margin-top: 50px;
    font-weight: bold;
}
.repeat{
    display:block
}

.selectReward{
    display: flex;
    margin-left: 30%;
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
}

.addNewReward{
        width: 150px;
        height: 100px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right:10px;
        border-radius: 10px;
        border: 1px solid #D75022;
    
}

.addIcon{
    text-align: center;
   font-size: 65px;
   color: #D75022;
}