.welcome{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.form1{
    margin-bottom: 100px;
}
label{
    display:block;
    text-align: center;
    color: #292956;
}

input{
    display: block;
    width: 320px;
    height: 35px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
    background-color: #F2F2F7;
    border-color: #F2F2F7;
}

.sendButton{
    width: 168px;
    height: 42px;
    color: #ffffff;
    background-color: #0FB8A6;
}

.sendButton:hover{
    background-color: #F6AC3A
}

.linkAccount{
    display: flex;
    justify-content: center;
}

.haveAccount{
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}
