.familyAdmin{
    margin-top: 35px;
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.updateButton{
    display: flex;
    justify-content: center;
    height: 30px;
}

.update{
    background-color: #0FB8A6;
    border-color:#0FB8A6;
    color: #ffffff;
    font-size: 12px;
    width: 150px;
    border-radius: 5px;
}

.update:hover{
    background-color: #D75022;
    border-color:#D75022;
    color: #ffffff;
}

.profileData2{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    width: 40%;
    margin-top: 50px;
}

.titleFamliy{
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 25px;
    margin-bottom: 20px;
}

.spaname{
    margin-right: 50px;
    margin-bottom: 3px;
    color:#D75022;
}

.iconAddd{
    color:#0FB8A6;
}

.iconAddd:hover{
    color:#D75022;
}
 

