.contentUser{
    display: flex;
    height: 30px;
}

.profileData{
    display: flex;
    flex-direction: column;
    margin-left: 40%;
}

.profileData2{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    width: 40%;
    margin-top: 50px;
}

.key2{
     
    margin-left: 20px;
}

.value{
    font-weight: normal;
    margin-left: 20px;
}

.titleFamliy{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.contentUser2{
    display: flex;
    height: 30px;
    margin-top: -35px;
}

.spaname{
    margin-right: 50px;
    margin-bottom: 3px;
}

.iconAddd{
    color:#F6AC3A;
    font-size: 30px;

}
 