.popup {
  position: fixed;
  box-sizing: border-box;
  top: 7em;
  right: 2em;
  z-index: 99;
  transition: transform 0.6s ease-in-out;
  animation: banner-in-right 0.7s;
  background-color: white;
  border-radius: 1em;
  border: 2px solid  #0FB8A6;
  color: #0FB8A6;
  padding: 2em;
  opacity: 0.9;
  box-shadow: 0 0 8px 4px;
  font-family: vogue;
  font-size: 13px;
}

.popup:hover {
  box-shadow: 0 0 12px #fff;
}
@keyframes banner-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}