.appName{
    text-decoration: none;
    color: #D75022;
    font-size: 30px;
    margin: 15px;
    font-weight: bold;
}

.appName:hover{
    color:#0FB8A6;
}

.searchButton{
    color: #0FB8A6;
    border-color:#0FB8A6;
    height: 33px;
    margin-top: 16px;
    margin-right: 20px;
    font-size: 12px
}

.searchButton:hover{
    background-color: #0FB8A6;
}

.register{
    margin-right:10px;
    background-color:#D75022;
    border-color: #D75022;
    height: 33px;
    font-size: 12px;
}

.register:hover{
    background-color:#0FB8A6;
    border-color:#0FB8A6;
}

.headerOptions{
    font-size: 15px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0FB8A6;
    margin-left: 10px;
    padding-top: px;
    padding-left:13px;
    font-weight: bold;
    color: white;
    font-size: 25px;
}
