.welcome{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

label{
    display:block;
    text-align: center;
    color: #292956;
}

.sendButton{
    width: 250px;
    height: 42px;
    color: #ffffff;
    background-color: #0FB8A6;
}

.linkAccount{
    display: flex;
    justify-content: center;
}

