.hello{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerMember{
    margin: 40px;
}

.separated{
    display: flex;
    justify-content: space-evenly;
}

.backButton{
    width: 168px;
    height: 42px;
    background-color: #fff;
    border-color: #0FB8A6;
}

.addMember{
    margin-left: 16%;
    margin-top: 20px;
}

a:link{
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    color:#D75022
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}


