@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

*{
  font-family: 'Sora', sans-serif;
}


.App {
  text-align: center;
}


.resRegister{
  display: block;
  width: 320px;
  height: 35px;
  margin: auto;
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  background-color: #F2F2F7;
  border-color: #F2F2F7;
  font-size: 13px;
}

